/* Style for queue.html page */
body {
  background-image: url('../images/bck.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Jazz LET, fantasy;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.queue-container {
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 50px;
  max-width: 500px;
  width: 100%;
}

h1 {
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 160px;
  font-size: 70px;
  color: #501e59;
  text-align: left;
  font-weight: bold;
  text-shadow: 0 0 5px #f7f3ef, 0 0 10px #fffdfb, 0 0 15px #f5f1ed;
}

.queue-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #e8e8e8;
  border-radius: 5px;
  margin-bottom: 30px;
}

.queue-boxes div {
  width: 40px;
  height: 40px;
  background-color: #9c55a5;
  border-radius: 5px;
  margin: 0 5px; 
}

.queue-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #961fa3;
  color: #e7dbea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e1d0e6;
  color: #a920c2;
}

.queue-controls button {
  margin-right: 10px;
}

.alert {
  background-color: #ff6e00;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
